<launch>
   <param name="/use_sim_time" value="false"/>

   <!-- rosserial Navigation-->
   <include file="$(find asv_chori)/launch/rosserial.launch"/>
   
   <!-- rosserial EcoSounder-->
   <include file="$(find asv_chori)/launch/rosserial2.launch"/>

   <!-- Radio Control -->
   <include file="$(find asv_chori)/launch/radio_control.launch"/>

   <!-- Twist Multiplexer -->
   <include file="$(find asv_chori)/launch/twist_mux.launch"/>

   <!-- GPS RTK -->
   <include file="$(find asv_chori)/launch/gps_f9p.launch"/>

   <!-- GPS Fix Vel ENU to body translate -->
   <include file="$(find asv_chori)/launch/gps_vel_translate.launch"/>

   <!-- GPS-Gyro heading -->
   <include file="$(find asv_chori)/launch/heading_gps-gyro.launch"/>

   <!-- Static transform -->
   <include file="$(find asv_chori)/launch/static_tf.launch"/>
   
   <!-- Imu-filter -->
   <include file="$(find asv_chori)/launch/imu_filter.launch"/> 
   
   <!-- EKF -->
   <include file="$(find asv_chori)/launch/ekf_yaguaron.launch"/>
   
   <!-- Navsat -->
   <include file="$(find asv_chori)/launch/navsat_yaguaron.launch"/>
   
   <!--
   <node pkg="rl_yaguaron" type="calc_mag_heading.py" name="orient_from_mag" output="screen"/>
    -->

   <!-- Navsat 
   <include file="$(find asv_sensors)/launch/asv_sensors.launch"/>
   -->
</launch>