<launch>
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick_nomag" ns="chori">
      <param name="~use_mag" value="false" />
      <param name="~use_magnetic_field_msg" value="true" />
      <param name="world_frame" value="enu" />
      <param name="publish_tf" value="false" />
      <param name="orientation_stddev" value="0.000" />
      <param name="publish_debug_topics" value="false" />
      
      <remap from="imu/data" to="imu/data_nomag" />
      <!--
      <remap from="imu/mag" to="imu/mag" />
      -->
    </node>
</launch>